@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 25 33.3% 98%;
    --foreground: 24 9.8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 158 94% 19%;
    --primary-foreground: 144.3 60.7% 98%;
    --secondary: 147.3 28.6% 95.9%;
    --secondary-foreground: 143.1 52.4% 12.7%;
    --muted: 147.3 28.6% 95.9%;
    --muted-foreground: 142.1 7.2% 45.3%;
    --accent: 147.3 28.6% 95.9%;
    --accent-foreground: 143.1 52.4% 12.7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 147.3 12.6% 89%;
    --input: 147.3 12.6% 89%;
    --ring: 158 94% 19%;
    --chart-1: 142.1 70.6% 45.3%;
    --chart-2: 173.4 80.4% 35.9%;
    --chart-3: 196.9 71.4% 19.2%;
    --chart-4: 43.3 96.4% 56.3%;
    --chart-5: 27 95.8% 66.7%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 94% 19%;
    --primary-foreground: 144.3 60.7% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 158 94% 19%;
    --chart-1: 142.1 70.6% 45.3%;
    --chart-2: 173.4 80.4% 35.9%;
    --chart-3: 196.9 71.4% 19.2%;
    --chart-4: 43.3 96.4% 56.3%;
    --chart-5: 27 95.8% 66.7%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
